<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to Home USE</title>
</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/header :: header">...</div>

<main class="container" role="main">

    <div class="row">
        <div class="col-md-12 mt-5" th:if="${LOGGED_IN_USER != null}">
            Welcome, <span class="fw-bold"
                           th:text="|${LOGGED_IN_USER?.lastName}, ${LOGGED_IN_USER.firstName}|"></span>.
            <div th:if="${LOGGED_IN_USER?.honeyWellLinkToken == null}">
                Please click on the below button to link your Account to HoneyWell Thermostat.
                <a class="btn btn-primary" href="/link?provider=honeywell">Link your Account with Honey Well</a>
            </div>
            <div th:if="${LOGGED_IN_USER?.honeyWellLinkToken != null}">
                Great job! Your account has been linked to Honeywell. Now, you can,
                <ul>
                    <li>View Thermostat settings (WIP)</li>
                    <li>Modify Thermostat settings (TODO)</li>
                    <li>Schedule Routine on your Thermostat (TODO)</li>
                    <li>Expose a simpler API to use your Thermostat inside your APP (TODO)</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 mt-5" th:if="${LOGGED_IN_USER == null}">
            Please <a class="btn btn-primary" href="/login">Login</a> to link your Honeywell account
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>
