<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2021 reflexdemon                                                ~
  ~                                                                           ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a   ~
  ~ copy of this software and associated documentation files (the "Software"),~
  ~ to deal in the Software without restriction, including without limitation ~
  ~ the rights to use, copy, modify, merge, publish, distribute, sublicense,  ~
  ~ and/or sell copies of the Software, and to permit persons to whom the     ~
  ~ Software is furnished to do so, subject to the following conditions:      ~
  ~                                                                           ~
  ~ The above copyright notice and this permission notice shall be included   ~
  ~ in all copies or substantial portions of the Software.                    ~
  ~                                                                           ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS   ~
  ~ OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL   ~
  ~ THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER~
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING   ~
  ~ FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER       ~
  ~ DEALINGS IN THE SOFTWARE.                                                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to Home USE</title>
</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/header :: header">...</div>

<main class="container" role="main">
    <div class="col-md-6">
        <form th:each="loc : ${LOCATIONS}">
            <fieldset class="card p-3 bg-light">
                <legend th:text="|Location : ${loc.name}|">

                </legend>
                <div class="form-floating mb-3">
                    <input class="form-control" disabled id="locationID" th:value="${loc.locationID}"
                           type="text">
                    <label for="locationID">Location ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" disabled id="streetAddress" th:value="${loc.streetAddress}"
                           type="text">
                    <label for="streetAddress">Street Address</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" disabled id="stateName" th:value="|${loc.stateName} (${loc.state})|"
                           type="text">
                    <label for="stateName">State</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" disabled id="country" th:value="${loc.country}"
                           type="text">
                    <label for="country">Country</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" disabled id="zipcode" th:value="${loc.zipcode}"
                           type="text">
                    <label for="zipcode">Zip Code</label>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>
